parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method NetSuite\\\\NetSuiteClient\\:\\:getDataCenterUrls\\(\\)\\.$#"
			count: 1
			path: src/NetSuiteClient.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/NetSuiteClient.php

